* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  background-color: #131334;
  color: #ebebeb;
}

.container {
  max-width: 992px; /* viene uguale su tutti gli schermi */
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  font-weight: 900;
}

/* Griglia calendario */
.day {
  display: inline-block;
  width: 14%;
  height: 130px;
  /* Per poter posizionare al centro il giorno, ho bisogno di position relative di questo div e position absolute del giorno */
  position: relative;
  border: 1px solid #0d6f83;
  border-radius: 10px;
  cursor: pointer; /* il pointer diventa manina */
}

.day:hover,
.day:hover h3 {
  background-color: #0a0917;
}

.day h3 {
  text-align: center;
  margin: 0;
  position: absolute; /* figlio absolute dentro un padre relative si fissa in una posizione rispetto al padre e non si muove piu */
  top: 40%;
  left: 0;
  right: 0;
}

.currentDay,
.currentDay:hover {
  background-color: #ffc0cb;
}

.sunday {
  color: red;
}

/* Impegni */
h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 20px;
}

#addMeeting div {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 50px;
}

form {
  display: inline;
}

input {
  width: 130px;
  height: 36px;
  background-color: #0a0917;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #ebebeb;
}

#newMeetingDay {
  display: inline-block;
  min-height: 40px;
}

form button {
  cursor: pointer;
  background-color: #7a408a;
  color: #ebebeb;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 36px;
  padding: 10px;
}

#newMeetingName {
  width: 200px;
}

#newMeetingTime::-webkit-calendar-picker-indicator {
  background-color: #7a408a;
  border-radius: 50px;
  cursor: pointer;
}
